<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Hsopitals</title>
</head>
<body>
  
{{#if status}}
 <div class="alert alert-success" role="alert">
  {{hospital.name}} Update Successfully .
</div> 
{{/if}} 

<ul>
    <li>
    Name :  
    {{ hospital.name }}
    </li>
    <br>
    <li>
    Code : 
    {{ hospital.address }}
    </li>
    <br>
    <li>
    Photo : 
    {{ hospital.photo }}
    </li>

</ul>

      <a href="/specialist" class="btn btn-dark">Specialist</a>
      <a href="/doctors" class="btn btn-dark">Doctors</a>
      <a href="/hoospital" class="btn btn-dark">Hospital</a>
      <a href="/workdoctors" class="btn btn-dark">Work Doctors</a>

</body>
</html>