<h1>Create Specialist</h1>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Specialist</title>
</head>
<body>
    <form action="/specialist" method="POST">
        <div>
            <label for="">Name</label>
            <input type="text" class="form-control" name="name">
        </div>

        <div>
            <label for="">Code</label>
            <input type="text" class="form-control" name="code">
        </div>

        <div>
            <label for="">Photo</label>
            <input type="file" class="form-control" name="photo">
        </div>

        <div>
            <label for="">Hospital</label>
    <select name="hospital_id" id="" class="form-select">
        <option value="">Hospital</option>
         {{#each hospital}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
    </select>
        </div> 
       <div>
        <button class="btn btn-success" type="submit">Save</button>
       </div> 

    </form>
<br>
    <a href="/specialist/" class="btn btn-dark">specialist</a>

    <a href="/doctors/" class="btn btn-dark">doctors</a>
 
    <a href="/workdoctors" class="btn btn-dark">Work Doctors</a>
 
    <a href="/hospital" class="btn btn-dark">Hospital</a>


    
</body>
</html>