<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HomePage</title>
</head>

<body style="background-color:black ;">
  <h1>Doctor Page</h1>



  <a href="/hospital" class="btn btn-dark">Hospital</a>
  <a href="/workdoctors" class="btn btn-dark">Work Doctors</a>
  <a href="/logout" class="btn btn-danger">Logout</a>
  <a href="/setting" class="btn btn-info">Setting</a>



</body>

</html>