<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Nures</title>
</head>
<body>
    <h1>Nuress</h1>

            <a href="/specialist" class="btn btn-dark">  Specialist</a>
            <a href="/hospital" class="btn btn-dark">Hospital</a>
            <a href="/doctors" class="btn btn-dark">Doctors</a>

</body>
</html>